/* 	@author - Beyonde Labs, (c) Nov, 2014 
	Lead - @profnandaa
	Others -
*/

body {
  padding-top: 70px;
}

/*buttons*/
.btn{
	border-radius: 0;
}


/*forms */

.form{
	padding-top: 20px;
}

.form input[type=text],
.form input[type=password],
.form label,
.form select{
	width:90%;
}

.form input[type=text].half,
.form input[type=password].half,
.form label.half,
.form select.half{
	width:43%;
	margin-right: 4%;
}

.form input[type=text],
.form input[type=password],
.form input[type=text]:focus,
.form input[type=password]:focus,
.form select{
	padding:5px;
	border: none;
	border-bottom: solid 2px #aaa;
	outline: none;
	font-weight: bold;
	color: #888;
}

.form input[type=text]:focus,
.form input[type=password]:focus{
	border-bottom: solid 2px #449D44;
}

.form label{
	color: #aaa;
	font-weight: normal;
}

.form label span.right{
	float:right;
	width: 48%;
}

.form input[type=submit]{
	margin-top:10px;
}

.form select{
	border: none;
	border-bottom: solid 1px #aaa;
	padding: 5px;
}


/*end of forms */


/*others - uncategorized */
.highlight{
	font-weight: bold;
	color: #449D44;
}

.description{
	color: #888;
}

.navbar-header .navbar-brand{
	font-weight: bold;
	color: #449D44;
}

.navbar-header .navbar-brand:hover{
	color: #449D44;
}

.cu-list{
	height: 400px;
	padding: 10px;
	overflow-y: scroll;
}

.cu-list ul{
	margin-left: 0px;
}


/*end of others */





