/* 	@author - Beyonde Labs, (c) Nov, 2014 
	Lead - @profnandaa
	Others -
*/

/*Theme colors:
	red (#f04f25), blue (#25408f, #3A619D)
	green: #60B044;

*/

.red{
	color:#f04f25;
}

.blue{
	color:#25408f;
}

.green{
	color: #60B044;
}

body {
  padding-top: 70px;
  color: #555;
}

.cotent a{
	transition: 1s;
}

.container.content{
	min-height: 400px;
}

/*headings*/

h1,h2,h3,h4,h5,h6{
	color: rgb(240,79,37);
}

.contentx p, .contentx ul li{
	font-size: 15px;
	color: #777;
	line-height: 140%;
	margin: 0;
	text-align: justify;
}

/*buttons*/
.btn{
	border-radius: 0;
}


/*forms */

.form{
	padding-top: 20px;
}

.form input[type=text],
.form input[type=password],
.form label,
.form textarea,
.form select{
	width:90%;
}

.form textarea{
	height: 100px;
	padding: 5px;
	font-family: sans-serif;
	font-size: 14px;
	border: solid 2px #dedede;
}

.form input[type=text].half,
.form input[type=password].half,
.form label.half,
.form select.half{
	width:43%;
	margin-right: 4%;
}

.form input[type=text],
.form input[type=password],
.form input[type=text]:focus,
.form input[type=password]:focus,
.form select{
	padding:5px;
	border: none;
	border-bottom: solid 2px #dedede;
	outline: none;
	font-weight: bold;
	color: #888;
}

.form input[type=text]:focus,
.form input[type=password]:focus{
	border-bottom: solid 2px rgb(37,64,143);
}

.form label, .form span{
	color: #aaa;
	font-weight: normal;
	font-size: 12px;
}

.form label span.right{
	float:right;
	width: 48%;
}

.form input[type=submit]{
	margin-top:10px;
}

.form select{
	border: none;
	border-bottom: solid 1px #aaa;
	padding: 5px;
}

/*ref: http://css-tricks.com/snippets/css/style-placeholder-text/ */
::-webkit-input-placeholder,
:-moz-placeholder,/* Firefox 18- */
::-moz-placeholder, /* Firefox 19+ */
:-ms-input-placeholder
{
   font-weight: normal; /*not working, fix later*/
   color: #263F67;
}


.form a{
	padding: .3em 0;
	margin: 0 .2em;
	margin-left: 1em;
	display: inline-block;
	font-weight: bold;
	border-bottom: solid 2px #aaa;
	text-decoration: none;
}

.form a:hover{
	text-decoration: none;
	border-bottom: solid 2px rgb(240,79,37);
}

.form a.btn{
	border-bottom: none;
	padding: .7em;
}


/*end of forms */

/*Headings */
.title{
	font-weight: bold;
	margin-bottom: 20px;
}

.title span{
	font-weight: normal;
	border-left: solid 1px #aaa;
	padding: .3em;
	font-family: garamond,georgia,times;
	font-size: .9em;
	font-style: italic;
	color: #888;
}

/*Champ profile */
.profile{

}

.profile p{
	border-bottom: dotted 1px #aaa;
	padding: 5px 3px;
}

.profile p.large{
	min-height: 4em;
}

.profile span.left{
	font-weight: bold;
	width: 30%;
}

.profile span.right{
	width: 65%;
	float: right;
}

/*end of Champ profile*/

/*landing-page*/

/*do responsive one for mobile, later */

.landing{
	background: url(../img/cross1.jpg) 0 0px no-repeat;
	min-height: 340px;
	padding: 10px 20px;
	margin-bottom: 10px;
}

.landing.x{
	min-height: 100px;
}

.landing h1{
	padding-top: 20px;
	font-size: 40px;
	font-weight: bold;
}

.landing h1 sub{
	font-size: 25px;
	font-weight: normal;
	color: rgb(37,64,143);
}

.landing a{
	margin-right: 10px;
}

.landing p{
	font-weight: bold;
	color: #aaa;
}

.landing .stats{
	color: rgb(240,79,37);
	font-weight: bold;
}

.landing em{
	border-bottom: solid 3px rgb(240,79,37);
	font-style: normal;
}

.btn{
	transition: 1s;
}

.btn-normal{
	border: solid 2px rgb(37,64,143);
	color: rgb(37,64,143);
}

.landing .btn-normal:hover{
	border: solid 2px rgb(240,79,37);
	color: rgb(240,79,37);
}

.landing .btn-success{
	background: rgb(240,79,37);
	border-color: rgb(240,79,37);
}

/* end of landing */

/* champion profiles */
.c-profile{
	border-left: solid 3px #cecece;
	margin-bottom: 7px;
	min-height: 125px;
	transition: 1s;
}

.c-profile:hover{
	border-left: solid 3px #f04f25;
}

.c-profile:hover h4{
	color: #3A619D;
}

.c-profile h4{
	color: #888;
	margin: 0;
	font-weight: bold;
	transition: 1s;
}

.c-profile .desc{
	color: #999;
}

.profile .col-md-6{
	margin-top: 7px;
}

.profile h4 a{
	float: right;
}

.profile h4{
	line-height: 1.7em;
}

/*tables */
table.table{
	border-collapse: collapse;
	margin: 10px 0;
}

.table th{
	background: #3A619D;
	color: #fefefe;
}

.table td{
	height: 2em;
	vertical-align: center;
	border-bottom: solid #aaa 1px;
}

.table tr:nth-child(odd){
	background: #dedede;
}

/*others - uncategorized */
.no-overflow{
	height: 400px;
	overflow-y: scroll;
	border-bottom: dotted 1px #cecece;
}

.grey{
	color: #aaa;
}

.feedback{

}

.feedback .text{
	color: #777;
	border-left: solid 3px #cecece;
	padding-left: 5px;
}

.feedback .date{
	font-size: 11px;
	color: #aaa;
}

.highlight{
	font-weight: bold;
	color: rgb(37,64,143);
}

.description{
	color: #888;
	margin: 10px 0;
}

.navbar-header .navbar-brand{
	font-weight: bold;
	color: rgb(37,64,143);
}

.navbar-header .navbar-brand:hover{
	color: rgb(37,64,143);
}

.dropdown-menu > li > a:hover{
	background: #f04f25;
	color: #fefefe;
}

.cu-list{
	height: 400px;
	padding: 10px;
	overflow-y: scroll;
}

.cu-list ul{
	margin-left: 0px;
}

.navbar-brand{
	margin-right: 20px;
}

span.beta{
	background: #aaa;
	color: #fefefe;
	padding: 1px 5px;
	border-radius: 7px;
	margin-left: -20px;
	font-size: 10px;
	margin-right: 10px;
	display: none;
}

i.complete{
	font-size: 2em;
	float:left;
	margin: 5px 3px;
	color: #5cb85c;
}

.orange{
	color: rgb(240,79,37);
}

.strong{
	font-weight: bold;
}

li.active-inverse{
	background: #f04f25;
	color: #fefefe;
}

li.active-inverse a.white{
	color: #eaeaea;
}

li.active-inverse a.white:hover{
	color: #fefefe;
}

.focus{
	padding-left: 5px;
	background: url(../img/focus-logo.png) no-repeat;
	padding: 8px 10px 8px 50px;
}


.footer{
	margin-top: 20px;
	color: #aaa;
	padding: 20px 5px;
	border-top: dotted 1px #cecece;
	text-align: center;
}

/*formating scroll-bars src: http://bit.ly/1xX6WQH*/

::-webkit-scrollbar {
      width: 5px;
}

::-webkit-scrollbar-track {
      background-color: #aaa;
} /* the new scrollbar will have a flat appearance with the set background color */
 
::-webkit-scrollbar-thumb {
      background-color: #888
} /* this will style the thumb, ignoring the track */
 
::-webkit-scrollbar-button {
      background-color: #888;
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */
 
::-webkit-scrollbar-corner {
      background-color: black;
} /* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */

/*for IE*/
body {
    scrollbar-face-color: #888;
}

/*end of others */

